.workTimer {
  width: 600px;
  height: 100px;
  border: 2px solid rgb(226, 148, 161);

  font-family: "Oswald";
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.breakTimer {
  width: 600px;
  height: 100px;
  border: 2px solid rgb(148, 148, 226);

  font-family: "Oswald";
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.timer span {
  margin-left: 5px;
  margin-right: 5px;
}

.two-numbers {
  width: 2ch;
}
