.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.timer {
  padding-top: 15% !important;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pauseButton {
  display: flex;
  justify-content: center;
  padding-bottom: 10% !important;
}

.attributions {
  color: #a19194;
  white-space: pre;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.attributions > a {
  color: #c6bebf;
}

.settings {
  background: rgb(236 235 227 / 15%);
  border-radius: 5px;
  width: fit-content;
  padding: 15px;
  margin-top: 10px;
}
